{% extends 'base.html' %}
{% block content %}
    <h3> Oversikt over konserter for band du manager</h3>
    <table>
    <tr>
        <th>Dato</th>
        <th>Konsert</th>
        <th>Band</th>
        <th>Tekniske behov</th>
        <th><!-- Intentionally left blank --></th>
    </tr>
    {% for concert in concerts %}
        <tr>
            <td>{{ concert.time }}</td>
            <td>{{ concert.name }}</td>
            <td>{{ concert.band }}</td>
            <td>{{ concert.needs }}</td>
            <td><a href="#">Edit</a></td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}