{% extends 'base.html' %}
{% block content %}
    <div id="concert-container">
        <h3>Oversikt over konserter</h3><br/>
        <table>
            <tr>
                <th>
                    Konsert
                </th>
                <th>
                    Band
                </th>
                <th>
                    Scene
                </th>
                <th>
                    Tidspunkt
                </th>
            </tr>
            {% for concert in concerts %}
                <tr>
                    <td>
                        {{ concert.name }}
                    </td>
                    <td>
                        {{ concert.band.name }}
                    </td>
                    <td>
                        {{ concert.stage }}
                    </td>
                    <td>
                        {{ concert.time }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
