{% extends 'base.html' %}
{% block content %}
<h3>Oversikt over konserter</h3><br />
<table>
  <tr>
    <th>
      Konsert
    </th>
    <th>
      Band
    </th>
    <th>
      Scene
    </th>
    <th>
      Tidspunkt
    </th>
  <!-- Usertypes:
        Organiser: 1
        Technician: 2
        Manager: 3
        Booker: 4 -->
      {% if userType == 3 %}
          Change needs
      {% endif %}

  </tr>
  {% for concert in concerts %}
  <tr>
    <td>
      {{ concert.name }}
    </td>
    <td>
      {{ concert.band.name }}
    </td>
    <td>
      {{ concert.stage }}
    </td>
    <td>
      {{ concert.time }}
    </td>
    <td>
        <a href="#">Change</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
