{% extends 'base.html' %}
{% block content %}
    <form>
        <select name="Stages">
            {% for stage in stages %}
            <option value="{{ stage.name }}">{{ stage.name }}</option>
            {% endfor %}
        </select>
    </form>
<h3>Oversikt over konserter</h3><br />
<table>
  <tr>
    <th>
      Konsert
    </th>
    <th>
      Scene
    </th>
    <th>
      Oppgave
    </th>
    <th>
      Tidspunkt
    </th>
    <th>
      Tekniske behov
    </th>
  </tr>
  {% for concert in concerts %}
  <tr>
    <td>
      {{ concert.concert.name }}
    </td>
    <td>
      {{ concert.concert.stage }}
    </td>
    <td>
      {{ concert.task }}
    </td>
    <td>
      {{ concert.concert.time }}
    </td>
    <td>
      {{ concert.concert.needs }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
