<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Concert</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    {% if employments.count > 0 %}
    <table>
      <tr>
	<td>
	  Concerts
	</td>

      </tr>
    {% for employment in employments %}
      <tr>
	<td>
	  {{ employment.concert }}
	</td>
	<td>
	  {{ employment.tech }}
	</td>
      <td>{{ employment.concert.needs }}</td>
      </tr>
    {% endfor %}

    </table>
   {% else %}
              <p>You don't have any employments. Ask the responsible for booking if you should have.</p>
    {% endif %}
  </body>
</html>
